.container {
  padding-top: 30px; 
}

.categories-container {
  display: flex;
  overflow-x: auto;
  padding: 20px 0;
  gap: 20px;
  margin-bottom: 20px;
 
}

.category-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
  width:50%;
}

.category-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  background-color: #fff;
}

.category-name {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.product-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.product-card .card-img-top {
  height: 200px;
  object-fit: cover;
}

.product-card .card-body {
  padding: 20px;
  text-align: center;
}

.product-card .card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  padding: 15px 20px;
  text-align: center;
}

.product-card .btn-primary {
  background-color: #ff3f6c;
  border-color: #ff3f6c;
}

.product-card .btn-primary:hover {
  background-color: #ff1f4c;
  border-color: #ff1f4c;
}

.search-bar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  width: 80%;
  max-width: 600px;
  margin-right: 10px;
}

.search-bar button {
  background-color: #ff3f6c;
  border-color: #ff3f6c;
}

.search-bar button:hover {
  background-color: #ff1f4c;
  border-color: #ff1f4c;
}
.apply-filter-button {
  background-color: #ff3f6c;
  border-color: #ff3f6c;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.apply-filter-button:hover {
  background-color: #ff1f4c;
  border-color: #ff1f4c;
}
